<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title}}</title>
</head>
<body>

    <p>Detalle del evento:</p>
    <h2>{{ .Title }}</h2>
    <p>Comienzo: {{ dateFormat "2006-01-02" .Date }}</p>
    <p>Fin: {{ dateFormat "2006-01-02" .ExpiryDate }}</p>
    <pre>url: {{ .Permalink | absURL }}</pre>
    <a href="http://{{ .Permalink | absURL }}">http:{{ .Permalink | absURL }}</a>
    {{ .Content }}
</body>
</html>