/* body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}

#calendar {
  /* max-width: 900px; */
  max-width: 90%;
  margin: 0 auto;
} */

.primaria {
  background-color: yellowgreen;
  color: black;
}

.secundaria {
  background-color: orange;
  color: black;
}

.vacaciones {
  background-colo: rgba(0, 162, 255, 0.301);
  color: black;
}

#titulo{
  text-align: center
}