<footer>
	<p>"Al que juzge mi camino, le presto mis zapatos." - <em>javier iranzo</em></p>
	<p>This site was made with <a href="https://github.com/gohugoio/hugo">Hugo</a> using theme <a href="https://github.com/schollz/onetwothree">onetwothree</a> made by <a href="https://github.com/schollz">schollz</a>.</p>
</footer>
</body>
</html>